@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap');


$primary-color: #155dfc;
$secondary-color: #101828;
$tertiary-color: #f9fafb;
$fourth-color: #000;
$paragraph-color: #475467;
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Roboto', sans-serif;

//presets
*{box-sizing: border-box;}
ul,ol,figure,img,video,audio{margin: 0; padding: 0; list-style: none;}
body{margin: 0; padding: 0; font-family: $secondary-font; color: $paragraph-color; background: $tertiary-color; line-height: 1.6;}
h1,h2,h3,h4,h5,h6{margin: 0; padding: 0; font-family: $primary-font; color: $secondary-color;}
a{text-decoration: none;}
.logo h2 {font-family: $secondary-font;}
h1{font-size: calc(1.375rem + 1.5vw);}
h2{font-size: calc(1.325rem + .9vw);}
h3{font-size: calc(1.3rem + .6vw);}
h4{font-size: calc(1.275rem + .3vw);}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}


// button 
.default_btn{ color: $tertiary-color; background: $primary-color; transition: .15s ease-in-out; padding: 0.75rem; border-radius: 0.75rem;}
.default_btn:hover { color:  $primary-color; background: $tertiary-color; } .fadeEffect { animation: fade 1s ease-in-out; }

.wrapper{
    max-width: 1200px; width: 100%; margin: 0 auto;
}
.nav{}
.nav li{}
.nav li a{color: $paragraph-color; font-weight: 500;}

// mobile responsive
@media only screen and (min-width: 1200px){
    h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}
}
@media only screen and (max-width: 1200px) {
    .wrapper{
        padding: 0 1rem;
    }

}