@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap');


$primary-color: #155dfc;
$secondary-color: #101828;
$tertiary-color: #f9fafb;
$fourth-color: #000;
$paragraph-color: #475467;
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Roboto', sans-serif;
//presets
*{box-sizing: border-box;}
ul,ol,figure,img,video,audio{margin: 0; padding: 0; list-style: none;}
body{margin: 0; padding: 0; font-family: $secondary-font; color: $paragraph-color; background: $tertiary-color; line-height: 1.6;}
h1,h2,h3,h4,h5,h6{margin: 0; padding: 0; font-family: $primary-font; color: $secondary-color;}
a{text-decoration: none;}
.logo h2 {font-family: $secondary-font;}

.wrapper{
    max-width: 1200px; width: 100%; margin: 0 auto;
}
.nav{}
.nav li{}
.nav li a{color: $paragraph-color; font-weight: 500;}

// mobile responsive
@media only screen and (max-width: 1200px) {
    .wrapper{
        padding: 0 1rem;
    }

}