@import '../stlyesheets/global.scss';

// header 
.logo{}
.logo h2{}
.logo .initial_name{  background: $primary-color; color: $tertiary-color; padding: 5px 10px; border-radius: 10px 15px;}
.logo{}

// banner
.banner { width: 100vw; position: relative; left: 50%; transform: translateX(-50%); height: 700px; }
.banner:before{content: ''; background: #0007; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 5;}
.banner .swiper .swiper-wrapper figure img { height: 700px; width: 100%; object-fit: cover; object-position: center center; }
.banner_information { position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); max-width: 1200px; width: 100%; z-index: 10; color: #f9fafb; line-height: 100%; display: grid; place-items: center; row-gap: 1rem; }
.banner_information h2{color: $tertiary-color;}
.banner_information p{}
.default_btn{ color: $tertiary-color; background: $primary-color; transition: .15s ease-in-out; padding: 0.75rem; border-radius: 0.75rem;}
.default_btn:hover { color:  $primary-color; background: $tertiary-color; }
.fadeEffect {
    animation: fade 1s ease-in-out;
}




// keyframes
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

// mobile responsive
@media only screen and (max-width: 1200px) {
    .banner { height: 500px; }
    .banner .swiper .swiper-wrapper figure img { height: 500px; }
    .banner_information { top: 60%; }

}

@media only screen and (max-width: 800px) {
    .about_our_company_con{flex-wrap: wrap;}
}